.container {
  max-width: 700px;
  margin: 15px auto;
  padding: 0 20px;
  margin-top: 2rem;
  min-height: calc(90vh - 100px);
  border: 2px solid rgba(131, 58, 180, 1)
}
.text-center{
  text-align: center;
}

.wave {
  animation-name: wave-animation;  /* Refers to the name of your @keyframes element below */
  animation-duration: 2.5s;        /* Change to speed up or slow down */
  animation-iteration-count: infinite;  /* Never stop waving :) */
  transform-origin: 70% 70%;       /* Pivot around the bottom-left palm */
  display: inline-block;
}

@keyframes wave-animation {
    0% { transform: rotate( 0.0deg) }
   10% { transform: rotate(14.0deg) }  /* The following five values can be played with to make the waving more or less extreme */
   20% { transform: rotate(-8.0deg) }
   30% { transform: rotate(14.0deg) }
   40% { transform: rotate(-4.0deg) }
   50% { transform: rotate(10.0deg) }
   60% { transform: rotate( 0.0deg) }  /* Reset for the last half to pause */
  100% { transform: rotate( 0.0deg) }
}

footer {
  margin: 20px 0 opx 0;
  text-align: center;
  color:cornsilk;
  background: linear-gradient(90deg, rgba(48,58,82,1) 0%, rgba(29,35,50,1) 49%, rgba(103,132,204,1) 100%);
  padding: 20px 0;
  height: 60px;
}